.page1{
    height: 100%;
    width: 100%;
}
.logo{
    height: 50px;
    color: white;
}
.navbar{
    
    background-color: aqua;
}

.home{
    margin: 0px 50px 0px 0px;
}

.navi{
    margin-left: 200px;

}

.get{
    margin-left: 40%;
    color: black;
    background-color: white;
    
}

.get:hover{
    background-color: ghostwhite;
}

.middle{
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.hAbout{
    margin: 200px;
}

.map{
    height: 90%;
}

.page-2{
    background-color: black;
    color: white;
    height: 110%;
}

.service-box{
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 30px;
    
}

.outer {
    
    margin: 30px;
    width:300px; 
    height: max-content;
    border:1px solid red;
    padding: 10px;
    margin-top: 0px;
  }
  
.page3{
    display: flex;
    flex-direction: row;
}

.img3{
    justify-content: right;
}